/** @format */

/* body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
*/

/* Header Component */
.header-row {
  display: flex;
  justify-content: space-between;
}
.h-i-1 {
  margin-left: 7rem;
}
.h-i-1 h1 {
  color: black;
}
.h-i-2 {
  margin-right: 5rem;
}
/* HeaderComponent END */

/* Main Component */
.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 5rem;
  margin-left: 5rem;
}

.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
/* Main Component END */

/* Product Component */
.product-card {
  border: 1px solid rgb(201, 216, 249);
  margin: 3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.6);
  transition: 0.6s;
  animation: linear;
}
.product-card:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.2);
  box-shadow: 0px 0px 13px 0px;
}

.product-card div {
  text-align: center;
}
.product-img {
  max-height: 18rem;
  width: 16rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.product-title {
  font-size: 0.7rem;
}
.product-price {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.55);
}
#my-button {
  margin: 1rem 0 1rem 0;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1rem;
  text-align: center;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border: rgb(5, 44, 49);
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );
}

/* Product Component END */

/* BasketStyle Component */
#my-cart-button {
  margin-right: 3rem;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.2rem;
  text-align: center;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  border: rgb(5, 44, 49);
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#ffffff', GradientType=1 );
  transition: 0.6s;
  animation: linear;
}

#my-cart-button:hover {
  color: azure;
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px;
}
.text-right {
  text-align: right;
}

#cart-btn {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: 0.8rem;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.5rem;
  text-align: center;
  width: 3rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: rgb(5, 44, 49);
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#ffffff', GradientType=1 );
  transition: 0.6s;
  animation: linear;
}
#cart-btn:hover {
  color: azure;
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px;
}
.item-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.calc1 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.costs {
  margin-top: 0.7rem;
}
.costs div strong {
  margin-bottom: 1rem;
}
#checkout {
  margin: 1rem 0 1rem 0;
  color: rgba(0, 0, 0, 0.55);
  font-size: 1rem;
  text-align: center;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border: rgb(5, 44, 49);
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#ffffff', GradientType=1 );
  transition: 0.6s;
  animation: linear;
}

#checkout:hover {
  color: azure;
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px;
}

/* BasketStyle Component END */
