/** @format */
.recom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 7rem 1rem 7rem;
}
.recom-col-background h1 {
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
}
.recom-col-background h4 {
  text-align: center;
}

.another-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#recom-list {
  list-style: linear-gradient(white, gray, black);
  text-align: justify;
}
.recom-col-background ul li {
  font-size: 1.5rem;
  padding: 1rem;
}
.img1 {
  margin-bottom: 2rem;
  width: 14rem;
  height: 20rem;
  transition: all 0.5s ease-in-out 0.1s;
}
.img1:hover {
  cursor: default;
  transform: scale(2.3);
  border: 1px solid black;
}

.recom-col-background {
  align-self: stretch;
  flex-grow: 1;
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#ffffff', GradientType=1 );
  transition: 0.6s;
  animation: linear;
}
.recom-col p {
  text-align: justify;
  padding: 0.5rem;
}

.recom-btn {
  display: block;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.55);
  font-size: 15px;
  text-align: center;
  width: 8rem;
  height: 3rem;
  border-radius: 30px;
  border: rgb(5, 44, 49);

  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#ffffff', GradientType=1 );
  transition: 0.6s;
  animation: linear;
}

.recom-btn:hover {
  color: azure;
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px;
}

.do-not-display {
  display: none;
}

/* Accordion */

.accordion-collapse .accordion-body {
  font-size: 1.1rem;
  text-align: justify;
}
.accordion-item .accordion-header .accordion-button strong {
  font-size: 1.2rem;
  padding: 2px 2px 2px 2px;
  font-weight: normal;
}
.accordion-item .accordion-header .accordion-button {
  background-color: transparent;
}
