
.my-card {
  border: 1 solid blue;

  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in;
  margin-top: 45px;
  margin-right: 45px;
  margin-bottom: 45px;
  margin-left: 45px;
}

.my-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
