/** @format */

.main-footer {
  border-top: 2px solid rgb(91, 91, 91);
  background: linear-gradient(
    to right,
    rgb(251, 253, 254) 0%,
    rgb(201, 216, 249),
    rgb(255, 255, 255) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#ffffff', GradientType=1 );
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.col {
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  align-content: center;
}
.col h4 {
  color: rgba(0, 0, 0, 0.55);
}
.list li {
  list-style: none;
}
.list {
  padding-left: 0px;
}
h4 {
  text-align: left;
}
hr {
  width: 60%;
  margin: 0 auto;
}
.col-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-align: center;
}

.col-sm a {
  color: black;
}
